<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Insert title here</title>
</head>
<body>

<H1 align=center>
            <font color=blue>Instituto Tecnologico de la Sierra Norte de Puebla</H1>
            </font>
            <H2 align=center>Ingenieria informatica</H2>
            <H3 align=center>Alma Guadalupe Hernandez Santiago Nº de control:18100018</H3>
            <H4 align=center>Desarrollo Web Avanzado</H4>
            <H5 align=center>Adolfo Luna Sanchez</H5>
            <H5 align=center>Semestre: 8</H5>
            <H5 align=center>Fecha: 13/05/2022</H5> 

</body>
</html>